<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'> -->
	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>
	
	<!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body><!-- Header and Nav -->
	 <div class="row">
    <div class="three columns">
      <h1>Get Startup Ready</h1>
    </div>
    <!-- Header and Nav -->
     <ul class="nav-bar right">
      <li><a href="/">Home</a></li>
       <li><a href="/pages/register">How</a></li>
       <li><a href="/pages/contact-us">Where</a></li>
       <li><a href="/pages/about-us">Who</a></li>
      </ul>
    </div>
 <%= yield %> 
   <!-- Footer -->
  
  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p><a href="http://revealinghour.in">&copy; Revealing Hour Creations</a></p>
        </div>
        <div class="six columns">
          <ul class="link-list right">
            <li><a href="http://github.com/nishantmodak/getstartupready">Github</a></li>
            <li><a href="http://twitter.com/nishantmodak">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>
  <script type="text/javascript">
     $(window).load(function() {
         $('#slider').orbit();
     });
  </script>
</body>
</html>